<h2>Show watcher</h2>

<table>
  <tbody>
    <tr>
      <th>Description: </th>
      <td><%= watcher.description %></td>
    </tr>
    <tr>
      <th>URL: </th>
      <td><%= link_to(watcher.url, watcher.url) %></td>
    </tr>
    <tr>
      <th>Selector: </th>
      <td><%= watcher.selector %></td>
    </tr>
    <tr>
      <th>Email: </th>
      <td><%= link_to(watcher.email, routes.user_path(watcher.email)) %></td>
    </tr>
    <tr>
      <th>Created at: </th>
      <td><%= watcher.created_at %></td>
    </tr>
  </tbody>
</table>

<%= refresh_button %>

<%= delete_button %>

<h3>Log</h3>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |request| %>
      <tr>
        <td><%= request.created_at %></td>
        <td><%= request.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
