<p>Value changed from "<%= request1.value %>" to "<%= request2.value %>".<p>

<p>The change took place between <%= request1.created_at %> and <%= request2.created_at %>.</p>

<a href="<%= ENV.fetch("HOST_ADDRESS") + Web.routes.watcher_path(watcher.id) %>"><%= ENV.fetch("HOST_ADDRESS") + Web.routes.watcher_path(watcher.id) %></a>
